*{
    /* font-family:cursive, Courier, monospace; */
    /* font-family: 'Outfit', sans-serif; */
    font-family: 'Sedgwick Ave', cursive;
}

header nav{
    padding-top: 15px;
    margin-right: 200px;
    float: right;
    display: flex;
}

header nav a{
    margin-right:50px;
    margin-left:50px;
    font-size: 16px;
}

.jumbotron {
    text-align: left;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    text-shadow: 5px 5px #c9aed6;
    background-image: url("../pictures/walpaper.png");
}

.display-3{
    font-weight: bold;
    color: #330757;
    margin-left: 40px;
}

body{
    background: radial-gradient(circle, #37008f, white);
}