*{
    /* font-family:cursive, Courier, monospace; */
    /* font-family: 'Outfit', sans-serif; */
    /* font-family: 'Sedgwick Ave', cursive; */
}

body{
    background: radial-gradient(circle, #37008f, white);
}

/******** start of HEADER ************/
.jumbotron {
    text-align: left;
    font-family: 'Sedgwick Ave', cursive;
    text-shadow: 5px 5px #c9aed6;
    background-image: url("../pictures/walpaper.png");
    margin-bottom:20px;
}

.display-3{
    font-weight: bold;
    color: #330757;
    margin-left: 40px;
}

.navbar{
    margin-left:20px;
    margin-right:20px;
    
}

header nav a{
    margin-right:50px;
    margin-left:50px;
    font-size: 20px;
    color: #3d0164;
    font-family: 'Sedgwick Ave', cursive;
}

header nav a:hover{
    color: #c8bbd1;
}
/******** end of HEADER ************/
/******* start about me style area ******/
.aboutMe{
    padding: 18px;
    padding-left:25px;
}

.aboutMe img{
    float: left;
    margin: 20px;
    margin-left:35px;
    display:block;
    height: 220px;
    width: 220px;
}

.aboutMEmsg{
    padding-top: 40px;
    padding-bottom: 20px;
}

.aboutMEmsg h2{
    margin-bottom: 20px;
    font-weight:bold;
}

.aboutMEmsg p{
    font-size: 14px;
    margin-bottom:10px;
}

.box-to-the-left-about{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Outfit', sans-serif;
    background-color: #f5edf8;
    color: #3d0164;
}
/******* end of about me style area ******/

/* .float-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    display:block;
    height: 250px;
    width: 250px;
} */

/* .aboutMe article img{
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
   } */

/* image inside content box are displayed to the left */


p {
    font-size:16px;
    margin-bottom: 20px;
}



/* box section will display to the left of the page */
.box-to-the-left{
    margin-bottom: 20px;
    padding: 20px;
    height:fit-content;  /* */
    background-color: #7a508d;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

/**** Block section about WORKS */
.works{
    font-size: 20px;
    width:75%;
    display:inline-block;
    margin-left: 20px;
    transition: flex-basis 500ms linear;
}