header nav{
    padding-top: 15px;
    margin-right: 200px;
    float:right;
    font-size: 20px;
    display: flex;
}

header nav a{
    margin-right:50px;
    margin-left:50px;
    font-size: 16px;
}

.jumbotron {
    text-align: center;
    /* padding-top: 10rem;
    padding-bottom: 10rem; */
    text-shadow: 2px 2px #000;
  }